doctype html
html
  head
    // Meta
    meta(charset='utf-8')
    meta(author='' content='Andy Tran')

    // Title
    title Template &middot; UI Library

    // Fonts
    link(type='text/css'
         media='screen'
         rel='stylesheet'
         href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700')

    // Stylesheet
    link(type='text/css'
         media='screen'
         rel='stylesheet'
         href='assets/css/main.css')
  body

    // Scripts
    script(src='assets/js/jquery-2.1.4.min.js')
    script(src='assets/js/script.js')