doctype html
html
  head
    // Meta
    meta(charset='utf-8')
    meta(author='' content='Andy Tran')

    // Title
    title Tabs &middot; UI Library

    // Fonts
    link(type='text/css'
         media='screen'
         rel='stylesheet'
         href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700')

    // Stylesheet
    link(type='text/css'
         media='screen'
         rel='stylesheet'
         href='assets/css/main.css')
  body
    // Tabs
    .tabs

      // Tabs Header
      .tabs-header

        // Border
        .border

        // Nav
        ul
          li.active: a(href='#tab-1'
                       tab-id='1'
                       ripple
                       ripple-color='#FFF') Tab 1
          li: a(href='#tab-2'
                tab-id='2'
                ripple
                ripple-color='#FFF') Tab 2
          li: a(href='#tab-3'
                tab-id='3'
                ripple
                ripple-color='#FFF') Tab 3
          li: a(href='#tab-4'
                tab-id='4'
                ripple
                ripple-color='#FFF') Tab 4
          li: a(href='#tab-5'
                tab-id='5'
                ripple
                ripple-color='#FFF') Tab 5

      // Tabs Content
      .tabs-content

        // Tab - Active
        .tab.active(tab-id='1')
          | 1. Donec ullamcorper nulla non metus auctor fringilla. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Curabitur blandit tempus porttitor. Ellentesque ornare sem lacinia quam venenatis vestibulum. Curabitur blandit tempus porttitor.

        // Tab
        .tab(tab-id='2')
          | 2. Donec ullamcorper nulla non metus auctor fringilla. Aenean eu leo quam.

        // Tab
        .tab(tab-id='3')
          | 3. Donec ullamcorper nulla non metus auctor fringilla. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Curabitur blandit tempus porttitor.

        // Tab
        .tab(tab-id='4')
          | 4. Donec ullamcorper nulla non metus auctor fringilla. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Curabitur blandit tempus porttitor. Maecenas faucibus mollis interdum. Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur. Aenean lacinia bibendum nulla sed consectetur.

        // Tab
        .tab(tab-id='5')
          | 5. Donec ullamcorper nulla non metus auctor fringilla. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Curabitur blandit tempus porttitor.Cras mattis consectetur purus sit amet fermentum. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Aenean lacinia bibendum nulla sed consectetur. Donec id elit non mi porta gravida at eget metus. Donec id elit non mi porta gravida at eget metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas faucibus mollis interdum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean lacinia bibendum nulla sed consectetur. Maecenas faucibus mollis interdum. Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur. Aenean lacinia bibendum nulla sed consectetur.

    // Scripts
    script(src='assets/js/jquery-2.1.4.min.js')
    script(src='assets/js/script.js')