doctype html
html
  head
    // Meta
    meta(charset='utf-8')
    meta(author='' content='Andy Tran')

    // Title
    title Ripple &middot; UI Library

    // Fonts
    link(type='text/css'
         media='screen'
         rel='stylesheet'
         href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700')

    // Stylesheet
    link(type='text/css'
         media='screen'
         rel='stylesheet'
         href='assets/css/main.css')
  body

    // Container
    .container

        // Card : Elavation Level 1 : Ripple
        .card(elevated="1"
              ripple=""
              ripple-color="#4285F4")

        // Card : Elavation Level 2 : Ripple
        .card(elevated="2"
              ripple=""
              ripple-color="#4285F4")

        // Card : Elavation Level 3 : Ripple
        .card(elevated="3"
              ripple=""
              ripple-color="#4285F4")

        // Card : Elavation Level 4 : Ripple
        .card(elevated="4"
              ripple=""
              ripple-color="#4285F4")

        // Card : Elavation Level 5 : Ripple
        .card(elevated="5"
              ripple=""
              ripple-color="#4285F4")

    // Scripts
    script(src='assets/js/jquery-2.1.4.min.js')
    script(src='assets/js/script.js')