doctype html
html
  head
    // Meta
    meta(charset='utf-8')
    meta(author='' content='Andy Tran')

    // Title
    title Elevation &middot; UI Library

    // Fonts
    link(type='text/css'
         media='screen'
         rel='stylesheet'
         href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700')

    // Stylesheet
    link(type='text/css'
         media='screen'
         rel='stylesheet'
         href='assets/css/main.css')
  body

    // Container
    .container

        // Card : Elavation Level 1
        .card(elevated="1")

        // Card : Elavation Level 2
        .card(elevated="2")

        // Card : Elavation Level 3
        .card(elevated="3")

        // Card : Elavation Level 4
        .card(elevated="4")

        // Card : Elavation Level 5
        .card(elevated="5")

    // Scripts
    script(src='assets/js/jquery-2.1.4.min.js')
    script(src='assets/js/script.js')